@import "stylesNavbar.css";

html {
    scroll-behavior: smooth;
  }
head {
    color: white;
}
body {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.menu{
    display: inline;
}

.active {
    background-color: #04AA6D;
}
#conteneur
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4.6em;
}
h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
}
section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
#Accueil {
    padding: 70px;
}
#apropos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    font-size: 2em;
    background-image: url("/home/user/Documents/IngenierieWeb/arr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

#visite {
    background-color: #141414;
}
#decouvrir {
    background-color: #FFFFFF;
    color: #777;
}
.basic {
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border-radius: 10%;
    background-color: #dadada;
    margin: 3px;
}

.yellow {
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border-color: #fdfa3a;
    border-radius: 50%;
    background-color: #fdfa3a;
    margin: 3px;
}

.green {
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border-width: 4px;
    border-color: green;
    border-radius: 10%;
    background-color: green;
    margin: 3px;
}

.red {
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border-color: #f32d51;
    background-color: #f32d51;
    border-radius: 10%;
    margin: 3px;
}

.oldword {
    color: #141414;
}