@import "stylesNavbar.css";

html {
    scroll-behavior: smooth;
  }
head {
    color: white;
}
body {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.menu{
    display: inline;
}

.active {
    background-color: #04AA6D;
}
#conteneur
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4.6em;
}
h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
}
section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
#Accueil {
    padding: 70px;
}
#apropos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    font-size: 2em;
    background-image: url("/home/user/Documents/IngenierieWeb/arr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

#visite {
    background-color: #141414;
}
#decouvrir {
    background-color: #FFFFFF;
    color: #777;
}